  * {
  vertical-align: top;
  box-sizing: border-box;
  font-family: lato, sans-serif;
      font-family: 'Noto Sans Arabic', lato, sans-serif; /* Use 'Cairo' for Arabic font */
  font-weight: 300;
  line-height: 36px;
  transition-duration: 0.5s; 
  direction: rtl; /* Added direction for left-to-right layout */
}


.top {
  height: 350px;
 background-image: linear-gradient(15deg, #12364b 5%, #a8d080 85%);
  width: 100%;
    padding-top: 20px;
margin-top: -20px;
}

.top-content {
  width: 1027px;
  height: 300px;
  margin-right: auto;
  margin-left: auto; }

.photo {
  width: 200px;
  height: 275px;
  display: inline-block;
  margin-top: 60px;
  margin-right: 25px;
  }
  .photo h1 {
    text-align: center;
    font-weight: 250;
    font-size: 10px;
    position: relative;
    bottom: 15px;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    color: #fff;
    margin-top: 30px; }

img {
  width: 200px;
  height: 200px;
  border-radius: 100%; }

.info {
  width: 650px;
  height: 275px;
  margin-top: 20px;
 margin-right: 100px;}

.photo, .info {
  display: inline-block; }

.title {
  width: 600px;
  height: 100px;
  margin-right: 5px;
  padding-top: 3px;
  text-align: center;
  font-size: 20px;
  line-height: 90px;
  border-bottom: solid 4px #fff;
  color: #fff; 
  font-weight: bold;
}

.contact {
  display: inline-flex;
  margin-right: 100px;
  margin-top: 25px; }

.url {
  padding-left: 10px;
  padding-top: 10px;

  color: #f2f2e9; }
  .url span {
    line-height: 36px;
    font-family: karla, sans-serif;
    padding-right: 10px;
   
    color: #f2f2e9; }

.max-width {
  width: 1027px;
  margin-right: auto;
  margin-left: auto; }

.left, .right {
  display: inline-table;
  width: 49%;
  height: 700px; }

.con-title {
  width: 450px;
  height: 50px;
  font-weight: 900;
  font-size: 20px;
  color: #0078ae;
  margin-right: 30px;
  margin-top: 30px;
  padding-top: 15px;
  border-bottom: solid 1px #618291; }

.ex-con-left {
  display: inline-block;
  width: 50px;
  height: 230px;
  margin-left: 30px; }
  .ex-con-left .dot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #618291;
    margin-right: 20px;
    margin-top: 30px; }
  .ex-con-left .vertical-line {
    width: 3px;
    height: 230px;
    border-radius: 10%;
    background-color: #618291;
    margin-right: 24px;
    margin-top: 5px; }

.ex-con-right {
  display: inline-block;
  width: 400px;
  height: 250px; }
  .ex-con-right h3 {
    margin: 10px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px; }
  .ex-con-right h5 {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #0078ae; }
  .ex-con-right span {
    font-size: 16px;
    color: #618291;
    margin: 10px; }
  .ex-con-right p {
    margin: 10px 10px 0px 10px;
    line-height: 20px;
    font-size: 16px; }
  .ex-con-right br {
    line-height: 26px; }

.ed-con-left {
  display: inline-block;
  width: 50px;
  height: 190px;
  margin-left: 30px; }
  .ed-con-left .dot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #618291;
    margin-right: 20px;
    margin-top: 30px; }
  .ed-con-left .vertical-line {
    width: 3px;
    height: 170px;
    border-radius: 10%;
    background-color: #618291;
    margin-right: 24px;
    margin-top: 5px; }

.ed-con-right {
  display: inline-block;
  width: 400px;
  height: 190px; }
  .ed-con-right h3 {
    margin: 10px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px; }
  .ed-con-right h5 {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #0078ae; }
  .ed-con-right span {
    font-size: 16px;
    color: #618291;
    margin: 10px; }
  .ed-con-right p {
    margin: 10px 10px 0px 10px;
    line-height: 20px;
    font-size: 16px; }
  .ed-con-right br {
    line-height: 26px; }

.languages {
  height: 250px; }

.la-title {
  margin-left: 10px; }

.chinese {
  width: 150px;
  height: 150px;
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
  margin: 30px 15px 0px 10px;
  border: solid 5px #618291; }
  .chinese h3 {
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
    font-size: 16px; }
  .chinese h4 {
    text-align: center;
    margin-top: -20px;
    color: #0078ae; }

.outer-jp {
  width: 150px;
  height: 150px;
  display: inline-block;
  background: #618291;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 30px; }

.sq1-jp {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 75px;
  background-color: #0078ae; }

.sq2-jp {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 75px;
  background-color: #0078ae; }

.sq3-jp {
  width: 75px;
  height: 75px;
  background-color: #0078ae;
  transform-origin: bottom;
  transform: skewX(36deg); }

.inner-jp {
  width: 140px;
  height: 140px;
  position: absolute;
  border-radius: 100%;
  top: 5px;
  left: 5px;
  background-color: #f2f2e9;
  overflow: hidden; }
  .inner-jp h3 {
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
    font-size: 16px; }
  .inner-jp h4 {
    text-align: center;
    margin-top: -20px;
    color: #0078ae; }

.outer-eng {
  width: 150px;
  height: 150px;
  display: inline-block;
  background: #618291;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 30px;
  margin-right: 10px; }

.sq1-eng {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 75px;
  background-color: #0078ae; }

.sq2-eng {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 75px;
  background-color: #0078ae; }

.inner-eng {
  width: 140px;
  height: 140px;
  position: absolute;
  border-radius: 100%;
  top: 5px;
  left: 5px;
  background-color: #f2f2e9;
  overflow: hidden; }
  .inner-eng h3 {
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
    font-size: 16px; }
  .inner-eng h4 {
    text-align: center;
    margin-top: -20px;
    color: #0078ae; }

.skills {
  height: 200px; }

.sk-title {
  margin-left: 10px;
  margin-top: 0px; }

.skill-con-left, .skill-con-right {
  display: inline-block;
  width: 230px;
  height: 130px;
  margin-top: 20px; }

.skill-bar span {
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
  width: 90px; }

.skill-level {
  display: inline-block;
  margin-left: 10px; }

.yes {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #0078ae;
  margin-top: 10px;
  margin-right: 2px; }

.no {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #618291;
  margin-top: 10px;
  margin-right: 2px; }

.portfolio {
  height: 200px; }

.po-con-right {
  display: inline-block;
  transition-duration: 0.5s;
  width: 150px;
  height: 160px;
  margin-right: 10px;
  padding-top: 10px;
  opacity: 0.5;
  position: relative;
  top: 0px; }
  .po-con-right span {
    display: inline-block;
    font-weight: bold;
    width: 100px;
    text-align: center; }
  .po-con-right:hover {
    opacity: 1; }
  .po-con-right:active {
    top: 10px; }

.po-con-middle {
  display: inline-block;
  width: 150px;
  height: 160px;
  margin-right: 10px;
  padding-top: 10px;
  opacity: 0.5;
  position: relative;
  top: 0px; }
  .po-con-middle span {
    display: inline-block;
    font-weight: bold;
    width: 100px;
    text-align: center; }
  .po-con-middle:hover {
    opacity: 1; }
  .po-con-middle:active {
    top: 10px; }

.po-con-left {
  display: inline-block;
  width: 150px;
  height: 160px;
  margin-right: 10px;
  padding-top: 10px;
  opacity: 0.5;
  position: relative;
  top: 0px; }
  .po-con-left span {
    display: inline-block;
    font-weight: bold;
    width: 100px;
    text-align: center;
    padding-right: 15px; }
  .po-con-left:hover {
    opacity: 1; }
  .po-con-left:active {
    top: 10px; }

 .sa{ 
background-color: #618291; 
  size: 5px;
}
.es{ 
  margin-left: 50px;
  padding-top: 5px;
  text-align: center;
  font-size: 20px;
color: #fff; 
}
.la-content{
text-align: center;}
.con-title2 {
  width: 450px;
  height: 50px;
  font-weight: 900;
  font-size: 20px;
  color: #0078ae;
  margin-right: 30px;
  margin-top: 30px;
  padding-top: 180px;
  border-bottom: solid 1px #618291;
visibility: hidden;}
.la-contents{
text-align: center;
visibility: hidden;}
.pk-title {
  margin-left: 10px;
  margin-top: 0px; }
.po-content{
    text-align: center;
    padding-top: 20px;
}

.skill-content{
    text-align: center;}
  
@media only screen and (max-width: 600px) {
  .top {
    height: 520px;}
  .es {
   margin-right: 40px !important;
width: 320px;
    }
  .contact {
  display: revert;
margin-right: -88px;
      margin-top: 25px;
}
  .top-content {
    flex-direction: column;
    text-align: center;
    height: 80% !important;
      width: 290px !important;
      width: 480px !important;
  }
title {
  width: 420px;
  height: 100px;
  margin-right: 0px;
  padding-top: -7px;
  text-align: center;
  font-size: 20px;
  line-height: 90px;
  border-bottom: solid 4px #fff;
  color: #fff;
    font-weight: bold;}
    
  .photo,
  .info {
    width: 95%;
  }
  .url {
    padding-left: 0;
  }
  .left {
  display: table !important;
  width: 49% !important;
  height: 610px !important;
}
.con-title {
  width: 320px !important;
  height: 50px;
  font-weight: 900;
  font-size: 20px;
  color: #0078ae;
  margin-right: 30px;
  margin-top: 10px !important;
  padding-top: 5px !important;
  border-bottom: solid 1px #618291;
}
  .ex-con-left {
display: table-column-group !important;
    width: 50px;
  height: 230px;
  margin-left: -20px !important;
}
  .ex-con-right {
  display: inline-block;
    width: 280px !important;
  }
  .education{
padding-top: 50px;
}
  .ed-con-left {
    
display: table-column-group !important;
    width: 50px;
  height: 230px;
  margin-left: -20px !important;
  }
  .la-content {
  text-align: center;
  display: unset;
}
  .skill-con-right {
  display: inline !important;
  width: 230px;
  height: 130px;
  margin-top: 20px !important;
}
  .portfolio {
  height: 200px;
  padding-top: 100px;
}
  .po-content {
  position: absolute;
margin-right: -10px;
      margin-top: 20px;
      width: 400px;
}
.skill-content {
  margin-right: -110px;
}
    .title {
  width: 350px;
  height: 100px;
  margin-right: 25px;
  padding-top: 13px;
  text-align: center;
  font-size: 20px;
  line-height: 90px;
  border-bottom: solid 4px #fff;
  color: #fff;
  font-weight: bold;
}
    .photo, .info {
  width: 45%;
  display: unset;
}
    .ed-con-right {
  display: inline-block;
  width: 370px;
  height: 190px;
}
    .max-width {
  width: 0px;
  margin-right: 0PX;
  margin-left: 0PX;
}
    .languagues{
        width: 390px;
margin-right: 20px;
    }
   .content {
        width: 460px;
    }
   .ph {
  width: 110px;
  height: 110px;
}
}
